body {
    min-height: 4096px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
width: 100%;
position: fixed;
bottom: 0;
text-align: center;
color: yellow;
background-color: navy;
}